MediaPipeTasksGenAIC/MediaPipeGenAICLibraries.xcodeproj/xcuserdata
MediaPipeTasksGenAIC/MediaPipeGenAICLibraries.xcodeproj/project.xcworkspace/xcuserdata
Sources/SwiftTasksGenAI/.DS_Store
Dependencies/MediaPipeGenAICLibraries.xcframework/.DS_Store
**/.DS_Store
.swiftpm/xcode/xcuserdata
ExampleApp/InferenceExample.xcodeproj/project.xcworkspace/xcuserdata
ExampleApp/InferenceExample.xcodeproj/project.xcworkspace/xcuserdata
ExampleApp/InferenceExample.xcodeproj/xcuserdata
.build
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.xcuserstate
.Builds
MediaPipeTasksGenAIC/Pods
MediaPipeTasksGenAIC/MediaPipeTasksGenAIC.xcframework
*.a
*.xcuserstate
*.resolved